
                <form action="#" class="form" id="form" enctype='multipart/form-data'>
                    <div>
                        <div>
                            <span>Assunto</span>
                            <input type="text" name="assunto" placeholder="assunto">
                        </div>
    
                        <div>
                            <span>Categoria</span>
                            <select name="categoria" id="">
                                <option disabled selected>selecionar</option>
                                <option value="motivacao">motivacao</option>
                                <option value="bloguer">bloguer</option>
                                <option value="ajuda">auto-ajuda</option>
                            </select>
                        </div>
                    </div>
                    <div class="t_">
                        <span>Conteudo</span>
                        <textarea placeholder="escreva o seu conteudo deste assunto" name="conteudo"></textarea>
                    </div>
                    <div class="t_">
                        <button id="cadastra">cadastrar</button>
                    </div>
                </form>