<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="assets/sass/loginPerfil.css">
</head>
<body>
    <div class="indexLogin">
        <div class="img"><img src="" alt=""></div>
        <form action="">
            <div><span>E-mail</span>
                <input type="email" placeholder="email"></div>
            <div><span>Senha</span>
                <input type="password" placeholder="senha"></div>
            <div>
                <a href="">Esqueceu senha?</a>
                <button>Entrar</button>
            </div>
        </form>
    </div>
</body>
</html>